<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Article List</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'list.css' %}" />
    </head>
    <body>
        <div class="blogName">
            <h2>SUBIN - BLOG</h2>
        </div>
        <a class="newPost" href="{% url 'new' %}">글 쓰러 가기</a>
        <div class="contentBox">
            <div class="categoryBox">
                <h3>category</h3>
                <hr class="divider" />
                <ul>
                    {% for category in categories %}
                    <li>
                        <a href="{% url 'category_posts' category.id %}">{{ category.name }}</a>
                        ({{ category.articles.count }})
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="postBox">
                <h3>post</h3>
                <hr class="divider" />
                <ul>
                    {% for article in articles %}
                    <li>
                        <a href="{% url 'detail' article.id %}">{{ article.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </body>
</html>
